@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap");
html {
  overflow-x: hidden !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body.active {
  overflow-y: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 30px 0 50px;
}

@media (max-width: 767px) {
  section {
    padding: 30px 0 20px;
  }
}

.header-title h2 {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #102543;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
}

.header-title h2::before {
  position: absolute;
  top: -54px;
  left: 0;
  z-index: -1;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
  color: #F3F4F6;
}

@media (max-width: 768px) {
  .header-title h2::before {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .header-title h2::before {
    font-size: 36px;
    line-height: 120%;
    top: -20px;
  }
}

@media (max-width: 992px) {
  .header-title h2 {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .header-title h2 {
    font-size: 32px;
    line-height: 120%;
  }
}

.red_btn {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background: #EF5448;
  border: none;
  border-radius: 40px;
  width: 300px;
  height: 70px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: .3s;
}

.red_btn:hover {
  background: #102543;
}

.slick-dots li button::before {
  font-size: 60px;
  opacity: .1;
}

.slick-dots li.slick-active button::before {
  color: #EF5448;
}

header {
  padding: 30px 0;
}

header .extra_cl {
  min-height: 33px;
}

header .logo a {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #102543;
  text-transform: uppercase;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  header .logo a {
    font-size: 40px;
    line-height: 49px;
  }
}

@media (max-width: 576px) {
  header .logo a {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  header .mobile_menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    text-align: center;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: .3s;
    transition: .3s;
  }
  header .mobile_menu.active {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

@media (max-width: 1200px) {
  header .mobile_menu .menu {
    display: block !important;
  }
}

header .mobile_menu .menu li {
  margin: 0 16px;
}

@media (max-width: 1200px) {
  header .mobile_menu .menu li {
    margin: 16px 0;
  }
}

header .mobile_menu .menu li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #102543;
}

header .mobile_menu .menu li a:hover {
  text-decoration: underline;
}

header .mobile_menu .menu li a.active {
  font-weight: 700;
}

@media (max-width: 1200px) {
  header .mobile_menu .menu li a {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

header .mobile_menu .soc_links {
  margin-left: 20px;
}

@media (max-width: 1400px) {
  header .mobile_menu .soc_links {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  header .mobile_menu .soc_links {
    margin: 30px 0 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

header .mobile_menu .soc_links li {
  margin: 0 10px;
}

header .mobile_menu .sign_in,
header .mobile_menu .sign_in_authorized {
  margin-left: 90px;
}

@media (max-width: 1400px) {
  header .mobile_menu .sign_in,
  header .mobile_menu .sign_in_authorized {
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  header .mobile_menu .sign_in,
  header .mobile_menu .sign_in_authorized {
    margin: 20px 0;
  }
}

header .mobile_menu .sign_in a,
header .mobile_menu .sign_in_authorized a {
  border: 2px solid #EF5448;
  border-radius: 50px;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 14px 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #102543;
}

header .mobile_menu .sign_in a:hover,
header .mobile_menu .sign_in_authorized a:hover {
  background: #EF5448;
  color: #fff;
}

@media (max-width: 1200px) {
  header .mobile_menu .sign_in a,
  header .mobile_menu .sign_in_authorized a {
    border: none;
  }
}

header .burger_menu {
  width: 90px;
  cursor: pointer;
  display: none !important;
  position: relative;
  z-index: 10;
}

@media (max-width: 1200px) {
  header .burger_menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 576px) {
  header .burger_menu {
    width: 50px;
  }
}

header .burger_menu span {
  width: 100%;
  height: 9px;
  background: #EF5448;
  border-radius: 50px;
  margin: 4px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header .burger_menu span:nth-child(2) {
  width: 80%;
}

@media (max-width: 576px) {
  header .burger_menu span {
    height: 5px;
    margin: 3px 0;
  }
}

header .burger_menu .line1.show {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
}

header .burger_menu .line2.show {
  opacity: 0;
}

header .burger_menu .line3.show {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
}

.authorized_header .sign_in_authorized {
  margin-left: 50px !important;
}

.authorized_header .sign_in_authorized a {
  padding: 14px 20px !important;
}

@media (max-width: 1400px) {
  .authorized_header .sign_in_authorized {
    margin-left: 0 !important;
  }
}

@media (max-width: 1400px) {
  .authorized_header .mobile_menu .menu li {
    margin: 16px 9px !important;
  }
}

@media (max-width: 576px) {
  #main {
    padding-top: 0;
  }
}

@media (max-width: 992px) {
  #main .main_left {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 767px) {
  #main .main_left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    padding-top: 30px;
  }
}

#main .main_left .red_txt {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #EF5448;
}

@media (max-width: 992px) {
  #main .main_left .red_txt {
    font-size: 16px;
    line-height: 20px;
  }
}

#main .main_left h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 120%;
  color: #102543;
  text-transform: uppercase;
  margin: 30px 0;
}

@media (max-width: 1200px) {
  #main .main_left h1 {
    font-size: 55px;
    line-height: 130%;
    margin: 20px 0;
  }
}

@media (max-width: 992px) {
  #main .main_left h1 {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  #main .main_left h1 {
    font-size: 36px;
    margin: 7px 0 20px;
  }
}

#main .main_left p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #848199;
  margin: 40px 0 50px;
}

@media (max-width: 1200px) {
  #main .main_left p {
    margin: 0 0 30px;
  }
}

@media (max-width: 992px) {
  #main .main_left p {
    font-size: 16px;
    line-height: 20px;
  }
}

#main .main_left button {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background: #EF5448;
  border: none;
  border-radius: 40px;
  width: 250px;
  height: 70px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main_left button:hover {
  color: #fff;
  background: #102543;
}

@media (max-width: 1200px) {
  #main .main_left button {
    font-size: 24px;
    width: 300px;
  }
}

@media (max-width: 767px) {
  #main .main_left button {
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  #main .main_left .main_btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#main .main_left .main_btn span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #102543;
  margin-left: 14px;
}

#main .main_left .main_btn span svg {
  margin-left: 7px;
}

@media (max-width: 767px) {
  #main .main_left .main_btn span svg {
    display: none;
  }
}

@media (max-width: 1200px) {
  #main .main_left .main_btn span {
    margin: 20px 0 0 12px;
  }
}

@media (max-width: 767px) {
  #main .main_left .main_btn span {
    margin: 25px auto 0;
  }
}

#main .main_svg {
  min-width: 500px;
  height: 550px;
}

@media (max-width: 992px) {
  #main .main_svg {
    min-width: 330px;
    height: 370px;
  }
}

@media (max-width: 360px) {
  #main .main_svg {
    min-width: 270px;
    height: 310px;
  }
}

#main .main_img {
  margin-left: -50px;
}

@media (max-width: 1400px) {
  #main .main_img {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  #main .main_img {
    text-align: center;
  }
}

#main .name_img {
  top: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  #main .name_img {
    display: none !important;
  }
}

#about .header-title h2 {
  margin-top: 20px;
}

#about .header-title h2::before {
  content: 'Обо мне';
}

#about .about_text .about_container {
  width: 100%;
}

#about .about_text .about_container .about_block {
  max-width: 208px;
}

@media (max-width: 992px) {
  #about .about_text .about_container .about_block {
    text-align: center;
  }
}

@media (max-width: 576px) {
  #about .about_text .about_container .about_block {
    max-width: 150px;
  }
}

#about .about_text .about_container .about_block h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #EE4747;
  background-image: linear-gradient(45deg, #EE4747, #F9C749);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

#about .about_text .about_container .about_block p {
  margin: 7px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #102543;
}

@media (max-width: 576px) {
  #about .about_text .about_container .about_block p {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  #about .about_text .about_container .about_block_hide {
    display: none;
  }
}

@media (max-width: 992px) {
  #about .about_text .about_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 24px;
  }
}

@media (max-width: 576px) {
  #about .about_text .about_tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
}

#about .about_text .about_tablet .about_img2 {
  display: none;
}

@media (max-width: 992px) {
  #about .about_text .about_tablet .about_img2 {
    display: block;
  }
}

@media (max-width: 576px) {
  #about .about_text .about_tablet .about_img2 {
    text-align: center;
  }
  #about .about_text .about_tablet .about_img2 img {
    width: 70%;
  }
}

#about .about_text .about_tablet h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #102543;
  text-transform: none;
}

@media (max-width: 992px) {
  #about .about_text .about_tablet h3 {
    font-size: 26px;
    line-height: 128%;
  }
}

@media (max-width: 576px) {
  #about .about_text .about_tablet h3 {
    margin-top: 16px;
    font-size: 24px;
    line-height: 120%;
  }
}

#about .about_text .about_tablet p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #848199;
  margin: 20px 0 50px;
  max-width: 576px;
}

@media (max-width: 992px) {
  #about .about_text .about_tablet p {
    font-size: 21px;
    line-height: 127%;
  }
}

@media (max-width: 576px) {
  #about .about_text .about_tablet p {
    font-size: 20px;
    line-height: 130%;
    margin: 16px 0 0;
  }
}

@media (max-width: 992px) {
  #about .about_img1 {
    display: none;
  }
}

@media (max-width: 576px) {
  #what_wait {
    padding-top: 0 !important;
  }
}

#what_wait .header-title {
  margin: 5rem 0 4rem;
}

#what_wait .header-title h2::before {
  content: 'ЧТО ВАС ЖДЁТ';
}

@media (max-width: 576px) {
  #what_wait .what_wait_block .my-5 {
    margin: 2rem 0 !important;
  }
}

#what_wait .what_wait_block h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  color: #102543;
  text-transform: uppercase;
  margin: 0 0 20px 60px;
}

@media (max-width: 576px) {
  #what_wait .what_wait_block h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    margin: 0 0 20px 40px;
  }
}

@media (max-width: 360px) {
  #what_wait .what_wait_block h4 {
    font-size: 18px;
  }
}

#what_wait .what_wait_block h4::before {
  position: absolute;
  bottom: -14px;
  left: -65px;
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  opacity: 0.2;
  background-image: linear-gradient(45deg, #EE4747, #F9C749);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

@media (max-width: 576px) {
  #what_wait .what_wait_block h4::before {
    left: -40px;
  }
}

#what_wait .what_wait_block .mobile_acc .arrow_icon {
  display: none;
}

@media (max-width: 576px) {
  #what_wait .what_wait_block .mobile_acc .arrow_icon {
    display: block;
    margin-left: 40px;
    min-width: 12px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #what_wait .what_wait_block .mobile_acc .arrow_icon.active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

#what_wait .what_wait_block .block1::before {
  content: '01';
}

#what_wait .what_wait_block .block2::before {
  content: '02';
}

#what_wait .what_wait_block .block3::before {
  content: '03';
}

#what_wait .what_wait_block .block4::before {
  content: '04';
}

#what_wait .what_wait_block p {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #102543;
  max-width: 537px;
}

@media (max-width: 992px) {
  #what_wait .what_wait_block p {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  #what_wait .what_wait_block p {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
  }
}

#costs .header-title h2::before {
  content: 'Пакеты';
}

#costs .card_parent .cost_card {
  border: 1px solid #EF5448;
  border-radius: 40px;
  padding: 45px 21px 40px;
  max-width: 400px;
  width: 100%;
  min-height: 680px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  #costs .card_parent .cost_card {
    padding: 30px 10px 30px;
    min-height: 620px;
  }
}

#costs .card_parent .cost_card h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #102543;
  text-transform: none;
  text-align: center;
}

@media (max-width: 1200px) {
  #costs .card_parent .cost_card h3 {
    font-size: 34px;
    line-height: 43px;
  }
}

@media (max-width: 576px) {
  #costs .card_parent .cost_card h3 {
    font-size: 40px;
    line-height: 49px;
  }
}

#costs .card_parent .cost_card ul {
  padding: 40px 0 0;
}

@media (max-width: 1200px) {
  #costs .card_parent .cost_card ul {
    padding: 20px 0 0;
  }
}

#costs .card_parent .cost_card ul li {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #102543;
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#costs .card_parent .cost_card ul li svg {
  margin-right: 7px;
}

@media (max-width: 1200px) {
  #costs .card_parent .cost_card ul li {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 576px) {
  #costs .card_parent .cost_card ul li {
    font-size: 14px;
    line-height: 17px;
  }
}

#costs .card_parent .cost_card h4 {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #464646;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-bottom: 7px;
}

#costs .card_parent .cost_card button {
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  background: #EF5448;
  border: none;
  border-radius: 40px;
  width: 223px;
  height: 54px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto 0;
}

#costs .card_parent .cost_card button:hover {
  color: #fff;
  background: #102543;
}

#costs .card_parent .card1 {
  background-image: url(../img/block1.png);
}

#costs .card_parent .card2 {
  background: linear-gradient(89.29deg, #EE4747 0.45%, #F9C749 99.25%);
}

@media (max-width: 576px) {
  #costs .card_parent .card2 {
    margin: 40px auto;
  }
}

#costs .card_parent .card2 h3, #costs .card_parent .card2 ul li {
  color: #fff;
}

#costs .card_parent .card2 button {
  color: #102543;
  background: #fff;
}

#costs .card_parent .card2 button:hover {
  color: #fff;
  background: #EF5448;
}

#costs .card_parent .card2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  font: italic normal 14px 'Montserrat';
  margin-top: 20px;
}

#costs .card_parent .card3 {
  background-image: url(../img/block3.png);
  background-position: 100% 20%;
}

#costs .card_slider .prev_btn {
  width: auto !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 767px) {
  #costs .card_slider .prev_btn {
    left: -25px;
  }
}

#costs .card_slider .next_btn {
  width: auto !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
}

@media (max-width: 767px) {
  #costs .card_slider .next_btn {
    right: -25px;
  }
}

#costs .card_slider .col-xl-4 {
  margin: 0 90px;
}

@media (max-width: 767px) {
  #costs .card_slider .col-xl-4 {
    margin: 0 50px;
  }
}

#costs .card_slider .cost_card {
  max-width: 100%;
}

#costs .card_slider .cost_card h3 {
  font-size: 68px;
  line-height: 73px;
}

#costs .card_slider .cost_card ul li {
  font-size: 24px;
  line-height: 29px;
  margin: 18px 0;
}

#costs .card_slider .cost_card button {
  width: 240px;
  height: 70px;
  font-size: 24px;
}

#costs .card_slider .card2 p {
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0 20px;
}

#costs .all_in_one {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (max-width: 992px) {
  #costs .all_in_one {
    background-size: contain;
    position: relative;
    padding-top: 120px;
  }
}

@media (max-width: 576px) {
  #costs .all_in_one {
    padding-top: 30px;
  }
}

#costs .all_in_one h2 {
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  color: #102543;
  text-transform: uppercase;
  padding: 170px 0 20px;
}

@media (max-width: 1200px) {
  #costs .all_in_one h2 {
    font-size: 40px;
    line-height: 49px;
  }
}

@media (max-width: 992px) {
  #costs .all_in_one h2 {
    padding: 20px 0;
  }
}

@media (max-width: 576px) {
  #costs .all_in_one h2 {
    font-size: 20px;
    line-height: 24px;
    padding: 20px 0 10px;
  }
}

#costs .all_in_one p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #848199;
  max-width: 587px;
}

@media (max-width: 768px) {
  #costs .all_in_one p {
    padding-right: 30px;
  }
}

@media (max-width: 576px) {
  #costs .all_in_one p {
    font-size: 12px;
    line-height: 130%;
    padding-right: 0;
    max-width: 70%;
  }
}

#costs .all_in_one button {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: #102543;
  border: none;
  border-radius: 40px;
  width: 250px;
  height: 66px;
  text-transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

@media (max-width: 576px) {
  #costs .all_in_one button {
    font-size: 14px;
    width: 175px;
    height: 40px;
  }
}

#costs .all_in_one img {
  position: relative;
  bottom: -7rem;
  left: 3rem;
}

@media (max-width: 992px) {
  #costs .all_in_one img {
    position: absolute;
    bottom: -70px;
    right: 0;
    left: auto;
    width: 30%;
  }
}

@media (max-width: 768px) {
  #costs .all_in_one img {
    width: 40%;
  }
}

@media (max-width: 576px) {
  #costs .all_in_one img {
    bottom: -30px;
  }
}

#costs .all_in_one .text-right {
  text-align: right;
}

#costs .all_in_one .row {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

#testimonials {
  padding-top: 100px;
}

#testimonials .header-title h2::before {
  content: 'ОТЗЫВЫ';
}

#testimonials .slider {
  max-width: 1100px;
  margin: 60px auto 0;
}

#testimonials .slider .slick-dots {
  bottom: -60px;
}

@media (max-width: 992px) {
  #testimonials .slider {
    margin: 50px 30px 0;
  }
}

@media (max-width: 576px) {
  #testimonials .slider {
    margin: 50px auto 0;
  }
}

#testimonials .slider .slide {
  margin: 0 20px;
}

@media (max-width: 576px) {
  #testimonials .slider .slide {
    margin: 0 50px;
  }
}

#testimonials .slider .prev_btn {
  position: absolute;
  top: 50%;
  left: -80px;
  z-index: 1;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 1200px) {
  #testimonials .slider .prev_btn {
    left: -50px;
  }
}

@media (max-width: 576px) {
  #testimonials .slider .prev_btn {
    left: 0;
    width: 40px;
  }
}

#testimonials .slider .next_btn {
  position: absolute;
  top: 50%;
  right: -80px;
  z-index: 1;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (max-width: 1200px) {
  #testimonials .slider .next_btn {
    right: -50px;
  }
}

@media (max-width: 576px) {
  #testimonials .slider .next_btn {
    right: 0;
    width: 40px;
  }
}

#questions {
  padding-top: 70px;
}

#questions .header-title {
  padding-bottom: 70px;
}

@media (max-width: 576px) {
  #questions .header-title {
    padding-bottom: 10px;
    margin-top: 30px;
  }
}

#questions .header-title h2::before {
  content: 'ВОПРОСЫ';
}

#questions .acc_parent_last {
  border-bottom: 1px solid #848199;
}

#questions .acc_parent {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  border-top: 1px solid #848199;
}

@media (max-width: 576px) {
  #questions .acc_parent {
    padding: 20px 0;
  }
}

#questions .acc_parent .acc_title p {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #102543;
}

@media (max-width: 576px) {
  #questions .acc_parent .acc_title p {
    font-size: 16px;
    max-width: 250px;
  }
}

#questions .acc_parent .acc_title div {
  min-width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #EF5448;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

#questions .acc_parent .acc_title div.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 576px) {
  #questions .acc_parent .acc_title div {
    font-size: 27px;
    min-width: 30px;
    height: 30px;
  }
}

#questions .acc_parent .acc_txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #102543;
  max-width: 570px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

@media (max-width: 992px) {
  #questions .acc_parent .acc_txt {
    padding-top: 10px;
  }
}

#questions button {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  background: #EF5448;
  border: none;
  border-radius: 40px;
  width: 393px;
  height: 80px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto;
}

#questions button:hover {
  background: #102543;
}

@media (max-width: 576px) {
  #questions button {
    width: 100%;
    height: 70px;
    font-size: 16px;
  }
}

#partners .header-title h2::before {
  content: 'Партнеры';
}

@media (max-width: 576px) {
  #partners .partners_slider {
    margin: 0 20px;
  }
}

#partners .partners_slider .partners_slide {
  margin: 0 40px;
}

@media (max-width: 576px) {
  #partners .partners_slider .partners_slide {
    margin: 0 10px;
  }
}

#partners .partners_slider .partners_slide img {
  margin: 0 auto;
}

#partners .partners_slider .prev_btn {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  width: 70px;
  cursor: pointer;
}

@media (max-width: 576px) {
  #partners .partners_slider .prev_btn {
    width: 50px;
    left: -30px;
  }
}

#partners .partners_slider .next_btn {
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  width: 70px;
  cursor: pointer;
}

@media (max-width: 576px) {
  #partners .partners_slider .next_btn {
    width: 50px;
    right: -30px;
  }
}

@media (max-width: 576px) {
  #mob_app {
    padding-bottom: 50px;
  }
}

#mob_app .header-title h2 {
  margin-bottom: 6px;
}

#mob_app .header-title h2::before {
  content: 'Приложение';
}

#mob_app h3 {
  font-weight: 700;
  font-size: 26;
  line-height: 120%;
  color: #102543;
  text-transform: uppercase;
}

#mob_app p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #102543;
  padding-top: 40px;
  max-width: 496px;
}

@media (max-width: 576px) {
  #mob_app p {
    padding-top: 30px;
  }
}

@media (max-width: 1200px) {
  #mob_app .tablet_hidden {
    display: none;
  }
}

@media (max-width: 1200px) {
  #mob_app .app_tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px 0 20px;
  }
}

@media (max-width: 576px) {
  #mob_app .app_tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#mob_app .app_tablet .tablet_img {
  display: none;
}

@media (max-width: 1200px) {
  #mob_app .app_tablet .tablet_img {
    display: block;
    margin-left: 20px;
  }
}

@media (max-width: 576px) {
  #mob_app .app_tablet .tablet_img {
    margin-left: 0;
    text-align: center;
  }
  #mob_app .app_tablet .tablet_img img {
    width: 70%;
  }
}

#mob_app .app_tablet .app_icons {
  margin: 70px 0 90px;
}

@media (max-width: 1200px) {
  #mob_app .app_tablet .app_icons {
    margin: 0;
    display: block !important;
    max-width: 210px;
  }
}

@media (max-width: 576px) {
  #mob_app .app_tablet .app_icons {
    margin-bottom: 30px;
    max-width: 280px;
  }
}

#mob_app .app_tablet .app_icons .app_icon {
  padding: 0 20px;
}

#mob_app .app_tablet .app_icons .app_icon p {
  padding-top: 16px;
}

@media (max-width: 1200px) {
  #mob_app .app_tablet .app_icons .app_icon {
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  #mob_app .stores {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#mob_app .stores .app_store {
  margin-left: 14px;
}

footer {
  padding: 30px 0 10px;
  background: linear-gradient(89.29deg, #EE4747 0.45%, #F9C749 99.25%);
  overflow: hidden;
}

footer .footer_img1 {
  bottom: 0;
  left: 0;
}

footer .footer_img2 {
  bottom: 0;
  right: 0;
}

footer .left_block .footer_logo {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
}

footer .left_block p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 20px 0 10px;
}

@media (max-width: 1200px) {
  footer .left_block p {
    padding: 10px 0 0px;
  }
}

footer .left_block .privacy_policy {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

footer .left_block .privacy_policy:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  footer .footer_menu {
    display: none !important;
  }
}

footer .footer_menu ul li {
  margin: 0 10px;
}

footer .footer_menu ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

footer .footer_menu ul li a:hover {
  text-decoration: underline;
}

footer .footer_menu p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

@media (max-width: 1200px) {
  footer .footer_links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

footer .footer_links a:last-child {
  margin-left: 20px;
}

@media (max-width: 1200px) {
  footer .footer_links a {
    margin-bottom: 10px;
  }
}

#training .training_block {
  padding: 40px 0 55px;
}

@media (max-width: 992px) {
  #training .training_block {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  #training .training_block {
    text-align: center;
  }
}

#training .training_block h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 130%;
  color: #102543;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  #training .training_block h1 {
    font-size: 32px;
  }
}

@media (max-width: 360px) {
  #training .training_block h1 {
    font-size: 28px;
  }
}

#training .training_block ul {
  padding-top: 30px;
  max-width: 722px;
}

@media (max-width: 1399px) {
  #training .training_block ul {
    max-width: 630px;
  }
}

@media (max-width: 1399px) and (max-width: 992px) {
  #training .training_block ul {
    max-width: inherit;
    padding-right: 55px;
  }
}

@media (max-width: 1399px) and (max-width: 767px) {
  #training .training_block ul {
    padding-right: 0;
  }
}

#training .training_block ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #102543;
  padding: 4px 0;
}

#training .training_block span {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #102543;
  margin-left: 14px;
}

@media (max-width: 1200px) {
  #training .training_block span {
    display: none;
  }
}

#training .training_block span svg {
  position: absolute;
  top: 10px;
  right: -30px;
}

#training .training_block .training_img {
  position: absolute;
  top: -60px;
  right: 0;
}

@media (max-width: 992px) {
  #training .training_block .training_img {
    top: auto;
    bottom: -5px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  #training .training_block .training_img {
    display: none;
  }
}

@media (max-width: 992px) {
  #training .training_block .btn_container {
    margin: 20px 0 0 !important;
  }
}

@media (max-width: 767px) {
  #training .training_block .btn_container button {
    margin: 0 auto;
  }
}

#training .video_block {
  position: relative;
  max-width: 1294px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 576px) {
  #training .video_block {
    padding-bottom: 20px;
  }
}

#training .video_block iframe {
  width: 100%;
  height: 640px;
}

@media (max-width: 1200px) {
  #training .video_block iframe {
    height: 520px;
  }
}

@media (max-width: 992px) {
  #training .video_block iframe {
    height: 430px;
  }
}

@media (max-width: 576px) {
  #training .video_block iframe {
    height: 185px;
  }
}

@media (max-width: 1200px) {
  #training button {
    font-size: 24px;
    width: 400px;
    height: 80px;
  }
}

@media (max-width: 576px) {
  #training button {
    font-size: 18px;
    width: 280px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  #training .mobi_btn {
    display: none !important;
  }
}

#online_shop .shop_block {
  position: relative;
}

#online_shop .shop_block .apple_img {
  top: 90px;
  left: -10px;
  z-index: -1;
}

@media (max-width: 992px) {
  #online_shop .shop_block .apple_img {
    top: 70px;
    left: 0;
  }
}

@media (max-width: 576px) {
  #online_shop .shop_block .apple_img {
    top: 40px;
    width: 40%;
  }
}

#online_shop .shop_block .gantle1_img {
  top: 65px;
  right: 14%;
  z-index: -1;
}

@media (max-width: 992px) {
  #online_shop .shop_block .gantle1_img {
    top: 32%;
    right: 28%;
  }
}

#online_shop .shop_block .gantle2_img {
  top: 48%;
  right: -54px;
  z-index: -1;
}

@media (max-width: 992px) {
  #online_shop .shop_block .gantle2_img {
    top: 64%;
    right: 18%;
  }
}

#online_shop .shop_block .four_img {
  bottom: 0;
  right: 18%;
  z-index: -1;
}

@media (max-width: 992px) {
  #online_shop .shop_block .four_img {
    bottom: -40px;
    right: 21%;
  }
}

@media (max-width: 576px) {
  #online_shop .shop_block .four_img {
    width: 70%;
    right: 0;
  }
}

#online_shop .shop_block h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 130%;
  color: #102543;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  #online_shop .shop_block h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  #online_shop .shop_block h1 {
    font-size: 28px;
    margin-bottom: 50px;
    padding: 0;
  }
}

@media (max-width: 360px) {
  #online_shop .shop_block h1 {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  #online_shop .shop_block .last_div {
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  #online_shop .shop_block .last_div {
    margin: 12px auto 90px;
  }
}

@media (max-width: 1200px) {
  #online_shop .shop_block .shop_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#online_shop .shop_block .shop_container .shop_card_block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 20px rgba(16, 37, 67, 0.2);
          box-shadow: 0px 10px 20px rgba(16, 37, 67, 0.2);
  border-radius: 20px;
  padding: 0 30px 30px;
  margin: 30px 0;
}

@media (max-width: 992px) {
  #online_shop .shop_block .shop_container .shop_card_block {
    margin: 12px 0;
  }
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card {
  min-height: 600px;
}

@media (max-width: 576px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card {
    min-height: auto;
  }
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card img, #online_shop .shop_block .shop_container .shop_card_block .shop_card svg {
  bottom: -48px;
  right: -40px;
}

@media (max-width: 576px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card img, #online_shop .shop_block .shop_container .shop_card_block .shop_card svg {
    width: 20%;
    right: -36px;
    bottom: -49px;
  }
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card .grape_img2 {
  bottom: -60px !important;
  right: -50px !important;
}

@media (max-width: 576px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card .grape_img2 {
    right: -45px !important;
    bottom: -50px !important;
  }
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card .card_cost {
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  color: #fff;
  text-align: center;
  padding: 14px 7px 7px;
  max-width: 242px;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background-image: url(../img/online-shop/ramka.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card h3 {
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: #102543;
  text-align: center;
  margin: 40px 0;
}

@media (max-width: 992px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card h3 {
    margin: 18px 0 10px;
  }
}

@media (max-width: 576px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card h3 {
    margin: 40px 0 25px;
  }
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #102543;
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card ul {
  padding: 10px 0 0 18px;
}

@media (max-width: 992px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card ul {
    padding: 4px 0 0 18px;
  }
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #102543;
  position: relative;
  margin: 10px 0;
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card ul li::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -15px;
  min-width: 4px;
  min-height: 4px;
  border-radius: 50%;
  background: #102543;
}

@media (max-width: 992px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card ul li::before {
    top: 7px;
  }
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card .text-center {
  margin-bottom: 20px;
}

#online_shop .shop_block .shop_container .shop_card_block .shop_card button {
  width: 224px;
  height: 54px;
  font-size: 16px;
}

@media (max-width: 576px) {
  #online_shop .shop_block .shop_container .shop_card_block .shop_card button {
    margin: 50px 0 20px;
  }
}

#example_menu h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 130%;
  color: #102543;
  text-transform: uppercase;
  padding: 20px 0;
  text-align: left;
  padding-left: 70px;
}

@media (max-width: 992px) {
  #example_menu h1 {
    font-size: 28px;
    line-height: 34px;
    padding-left: 0;
  }
}

#example_menu .breakfast img {
  margin: 10px auto;
}

#oformlenie h2 {
  font-weight: 900;
  font-size: 28px;
  line-height: 120%;
  color: #102543;
  margin-bottom: 20px;
}

#oformlenie h2 svg {
  margin: 5px 20px 0;
}

@media (max-width: 576px) {
  #oformlenie h2 svg {
    width: 40px !important;
    margin: 3px 12px 0;
  }
}

#oformlenie h2 span {
  color: #D8D8D8;
}

@media (max-width: 767px) {
  #oformlenie h2 {
    font-size: 21px;
  }
}

@media (max-width: 576px) {
  #oformlenie h2 {
    font-size: 14px;
  }
}

#oformlenie .hidden_title {
  display: none;
}

@media (max-width: 576px) {
  #oformlenie .hidden_title {
    display: block;
  }
}

#oformlenie h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #102543;
  margin: 40px 0 30px;
}

#oformlenie p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #102543;
}

#oformlenie p span {
  font-weight: 700;
  padding-left: 20px;
}

#oformlenie form .input_div {
  width: 190px;
  margin: 20px 20px 0 0;
}

@media (max-width: 768px) {
  #oformlenie form .input_div {
    width: 170px;
    margin: 20px 10px 0 0;
  }
}

@media (max-width: 576px) {
  #oformlenie form .input_div {
    width: 100%;
  }
}

#oformlenie form .input_div input {
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  background: transparent;
  width: 190px;
  height: 40px;
  margin-top: 7px;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  #oformlenie form .input_div input {
    width: 170px;
  }
}

@media (max-width: 576px) {
  #oformlenie form .input_div input {
    width: 100%;
    height: 50px;
  }
}

#oformlenie form .input_div input::-webkit-input-placeholder {
  color: #D8D8D8;
}

#oformlenie form .input_div input:-ms-input-placeholder {
  color: #D8D8D8;
}

#oformlenie form .input_div input::-ms-input-placeholder {
  color: #D8D8D8;
}

#oformlenie form .input_div input::placeholder {
  color: #D8D8D8;
}

#oformlenie form .input_div input:focus {
  outline: none;
}

#oformlenie form button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #EF5448;
  border: none;
  border-radius: 3px;
  width: 190px;
  height: 40px;
  text-transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 20px;
}

#oformlenie form button:hover {
  background: #102543;
}

@media (max-width: 576px) {
  #oformlenie form button {
    font-size: 24px;
    width: 100%;
    height: 60px;
  }
}

#oformlenie .privacy_policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #102543;
  max-width: 314px;
}

#oformlenie .privacy_policy a {
  color: #102543;
  font-weight: 500;
}

#oformlenie .privacy_policy a:hover {
  text-decoration: underline;
}

#oformlenie .payment_method a {
  margin-right: 20px;
  text-align: center;
}

#oformlenie .payment_method a p {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #102543;
  margin-top: 7px;
}

#oformlenie .payment_method .input_div {
  margin: 0;
}

#oformlenie .payment_method .input_div input {
  margin: 0;
}

#oformlenie .payment_method button {
  margin: 10px 0 0 0;
}

@media (max-width: 576px) {
  #oformlenie .payment_method button {
    width: 100%;
    height: 50px;
    margin: 20px 0 0 0;
    font-size: 18px;
  }
}

#oformlenie .payment_method form span {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #848199;
}

@media (max-width: 767px) {
  #oformlenie .payment_method .pay_images {
    display: block !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #oformlenie .payment_method .pay_images p {
    margin: 7px 0 20px;
  }
}

#oformlenie .payment_method form .d-flex {
  display: block !important;
}

#oformlenie .pay_block {
  max-width: 315px;
  width: 100%;
  min-height: 300px;
  background: #FFFFFF;
  border: 1px solid #102543;
  padding: 16px 20px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  #oformlenie .pay_block {
    margin: 40px auto 30px;
  }
}

#oformlenie .pay_block h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #EF5448;
  text-transform: uppercase;
}

#oformlenie .pay_block h6 {
  margin: 25px 0 15px;
}

#oformlenie .pay_block .cost {
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: #102543;
}

#oformlenie .pay_block button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #ACABAB;
  border: none;
  border-radius: 3px;
  width: 190px;
  height: 40px;
  text-transform: none;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
}

#oformlenie .pay_block button:focus {
  outline: none;
}

#oformlenie .pay_block a {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #EF5448;
  margin-right: 0;
}

.whatsapp_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .3s;
  transition: .3s;
}

.whatsapp_modal.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: rgba(0, 0, 0, 0.2);
}

.whatsapp_modal .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #FFFFFF;
  border: 2px solid #85B057;
  border-radius: 10px;
  text-align: center;
  padding: 40px 30px 30px;
}

@media (max-width: 576px) {
  .whatsapp_modal .content {
    max-width: 300px;
    width: 100%;
  }
}

.whatsapp_modal .content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #102543;
  margin-bottom: 20px;
}

.whatsapp_modal .content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #102543;
  max-width: 400px;
  margin: 0 auto;
}

.whatsapp_modal .content .close {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 50px;
  cursor: pointer;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #102543;
}

.whatsapp_modal .content svg {
  margin-top: 20px;
}

#payment_success {
  height: 70vh;
}

@media (max-width: 767px) {
  #payment_success {
    height: auto;
  }
}

#payment_success h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 120%;
  color: #102543;
  margin-top: 30px;
}

@media (max-width: 992px) {
  #payment_success h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  #payment_success h1 {
    font-size: 32px;
  }
}

#payment_success p {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #102543;
}

#payment_success p a {
  text-decoration: underline;
  color: #102543;
}

@media (max-width: 576px) {
  #payment_success .payment_success_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#payment_success .payment_success_btns .home_btn button {
  margin-left: 30px;
  background: #102543;
}

@media (max-width: 576px) {
  #payment_success .payment_success_btns .home_btn button {
    margin: 30px 0 0 !important;
  }
}

#payment_success .payment_success_btns .home_btn button:hover {
  background: #EF5448;
}

.authorized {
  padding-bottom: 0 !important;
}

.authorized h1 {
  font-weight: 900;
  font-size: 60px !important;
  line-height: 120%;
  color: #102543;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .authorized h1 {
    font-size: 32px !important;
  }
}

@media (max-width: 576px) {
  .authorized h1 {
    font-size: 28px !important;
  }
}

@media (max-width: 360px) {
  .authorized h1 {
    font-size: 24px !important;
  }
}

@media (max-width: 576px) {
  .authorized .content_title {
    padding: 5px 0 20px !important;
    text-align: left !important;
  }
}

.authorized p {
  max-width: 484px;
}

.authorized button {
  font-size: 40px !important;
  width: 440px !important;
  height: 92px !important;
}

@media (max-width: 1200px) {
  .authorized button {
    font-size: 24px !important;
    width: 300px !important;
    height: 70px !important;
  }
}

@media (max-width: 576px) {
  .authorized button {
    height: 70px !important;
  }
}

.authorized .main_img {
  margin-left: -20px !important;
}

@media (max-width: 1400px) {
  .authorized .main_img {
    margin-left: 30px !important;
  }
  .authorized .main_img img {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .authorized .main_img {
    margin-left: 0 !important;
  }
}

@media (max-width: 767px) {
  .authorized_btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .authorized_btns button {
    margin: 10px 0 !important;
  }
}

.authorized_btns button {
  font-weight: 700;
  font-size: 20px !important;
  color: #fff;
  background: #102543;
  border: none;
  border-radius: 40px;
  width: 250px !important;
  height: 68px !important;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.authorized_btns button:hover {
  background: #EF5448;
}

.header-title-two h2::before {
  content: '' !important;
}

.author_block {
  position: relative;
  width: 100%;
  padding-top: 70px;
  min-height: 390px;
  text-align: center;
  margin: 70px 0 30px;
  background-image: url(../img/authorized/author-bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .author_block {
    min-height: 320px;
  }
}

@media (max-width: 992px) {
  .author_block {
    margin: 20px auto;
  }
}

@media (max-width: 767px) {
  .author_block {
    padding-top: 20px !important;
    min-height: 180px;
  }
}

.author_block img {
  position: absolute;
  top: 0;
  z-index: 0;
}

.author_block .left_img {
  left: 0;
}

@media (max-width: 1200px) {
  .author_block .left_img {
    width: 64%;
  }
}

.author_block .right_img {
  right: 0;
}

@media (max-width: 1200px) {
  .author_block .right_img {
    width: 64%;
  }
}

@media (max-width: 1200px) {
  .author_block .otchety_img {
    width: 40% !important;
  }
}

.author_block .oclock_img {
  right: 20%;
}

@media (max-width: 1200px) {
  .author_block .oclock_img {
    display: none;
  }
}

.author_block .container {
  position: relative;
  z-index: 1;
}

.author_block .container h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 98px;
  color: #102543;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .author_block .container h1 {
    font-size: 60px;
  }
}

@media (max-width: 1200px) {
  .author_block .container h1 {
    font-size: 40px;
    line-height: 49px;
    margin: 20px 0 40px;
  }
}

@media (max-width: 767px) {
  .author_block .container h1 {
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0 20px !important;
  }
}

.author_block .container button {
  margin: 30px auto 20px !important;
}

@media (max-width: 767px) {
  .author_block .container button {
    font-size: 14px !important;
    line-height: 130% !important;
    width: 175px !important;
    height: 40px !important;
    margin: 0 auto !important;
  }
}

.author_block4 img {
  top: auto !important;
}

@media (max-width: 1200px) {
  .author_block4 img {
    width: 34% !important;
  }
}

@media (max-width: 576px) {
  .author_block4 img {
    top: 40px !important;
    width: 32% !important;
  }
}

.authorized_about {
  padding-bottom: 30px;
}

@media (max-width: 992px) {
  .authorized_about .about_img1 {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .authorized_about .about_img1 {
    position: absolute;
    top: -10px;
    width: 38%;
  }
}

@media (max-width: 576px) {
  .authorized_about .soc_links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.authorized_about h3 {
  font-size: 40px !important;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .authorized_about h3 {
    font-size: 20px !important;
    max-width: 222px;
    text-align: center;
    margin: 0 auto 10px;
    margin-right: 20px;
    margin-top: 40px !important;
  }
}

@media (max-width: 576px) {
  .authorized_about h3 {
    padding-top: 0;
  }
}

@media (max-width: 360px) {
  .authorized_about h3 {
    margin-right: 0 !important;
    margin-top: 20px !important;
  }
}

.authorized_about p {
  font-size: 24px !important;
  margin-bottom: 30px !important;
  max-width: 720px !important;
}

@media (max-width: 767px) {
  .authorized_about p {
    font-size: 20px !important;
    text-align: center !important;
    padding-top: 10px !important;
  }
}

@media (max-width: 576px) {
  .authorized_about p {
    padding-top: 40px !important;
  }
}

@media (max-width: 360px) {
  .authorized_about p {
    padding-top: 30px !important;
  }
}

.authorized_about ul li {
  margin-right: 30px;
}

@media (max-width: 576px) {
  .authorized_about ul li {
    margin: 0 20px;
  }
}

#author_container h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  color: #102543;
  text-transform: uppercase;
  margin-bottom: 70px;
}

@media (max-width: 992px) {
  #author_container h3 {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  #author_container h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }
}

#author_container .author_blog {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 250px;
}

@media (max-width: 992px) {
  #author_container .author_blog {
    margin-top: 60px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  #author_container .author_blog {
    margin-top: 40px;
  }
}

#author_container .author_blog h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #102543;
  text-transform: uppercase;
}

#author_container .author_blog p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #102543;
  max-width: 314px;
  margin: 20px auto 0;
}

#author_container .author_blog button {
  margin: 30px auto 0;
  width: 200px !important;
  height: 50px !important;
  font-size: 18px !important;
}

@media (max-width: 767px) {
  #author_container .author_blog button {
    margin: 20px auto 0 !important;
  }
}

#author_container .author_blog1 {
  background-image: url(../img/authorized/blog-bg1.png);
}

#author_container .author_blog2 {
  background-image: url(../img/authorized/blog-bg2.png);
}

.authorized_button button {
  font-size: 40px;
  line-height: 49px;
  max-width: 787px;
  width: 100%;
  min-height: 148px;
  margin: 70px auto 0;
}

@media (max-width: 992px) {
  .authorized_button button {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 576px) {
  .authorized_button button {
    font-size: 16px;
    line-height: 20px;
    max-width: 100%;
    min-height: 80px;
    margin: 50px auto 0;
  }
}

#org_moments h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 120%;
  color: #102543;
  text-transform: uppercase;
}

#org_moments h1 span {
  color: #EF5448;
}

@media (max-width: 992px) {
  #org_moments h1 {
    font-size: 32px;
    line-height: 42px;
    text-align: left;
  }
}

@media (max-width: 576px) {
  #org_moments h1 {
    text-align: center;
  }
}

#org_moments .search {
  max-width: 715px;
  width: 100%;
  min-height: 50px;
  margin: 50px auto;
  border: 1px solid #102543;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  padding: 4px 20px 4px 50px;
  background-image: url(../img/org-moments/search.png);
  background-position: 2% 50%;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #org_moments .search {
    background-position: 3% 50%;
  }
}

#org_moments .search:focus {
  outline: none;
}

#org_moments .org_block {
  text-align: center;
}

#org_moments .org_block h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #102543;
  margin: 4px auto 0;
  max-width: 220px;
}

#org_moments p {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #102543;
  padding: 90px 0 30px;
}

@media (max-width: 576px) {
  #org_moments .author_blog_div .pl_none {
    padding-left: 0 !important;
  }
}

#org_moments .author_blog_div p {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #102543;
  margin: 20px 0;
  padding: 0;
}

@media (max-width: 992px) {
  #org_moments .author_blog_div p {
    font-size: 20px;
    line-height: 24px;
    margin: 7px 0;
  }
}

@media (max-width: 576px) {
  #org_moments .author_blog_div p {
    font-size: 18px;
    line-height: 22px;
  }
}

#org_moments .author_blog_div a {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #EF5448;
  margin: 20px 0;
}

@media (max-width: 992px) {
  #org_moments .author_blog_div a {
    font-size: 16px;
    line-height: 20px;
    margin: 7px 0;
  }
}

@media (max-width: 576px) {
  #org_moments .author_blog_div a {
    position: absolute;
    bottom: 30px;
    left: 14px;
  }
}

#org_moments .author_blog_div a svg {
  margin: 0 0 2px 5px;
}

@media (max-width: 576px) {
  #org_moments .author_blog_div .blog_datas a {
    position: relative;
    bottom: auto;
    left: auto;
  }
}

@media (max-width: 576px) {
  #org_moments .author_blog_div .blog_datas {
    margin-top: 30px;
  }
}

#org_moments .author_blog_div .blog_datas span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #102543;
  margin-left: 7px;
}

#org_moments .author_blog_div .blog_datas .extra {
  margin-right: 20px;
}

#blog_thanks h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 120%;
  color: #102543;
  max-width: 680px;
  margin: 0 auto 40px;
}

@media (max-width: 992px) {
  #blog_thanks h1 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  #blog_thanks h1 {
    font-size: 32px;
  }
}

#blog_thanks h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #102543;
  margin: 20px 0;
}

@media (max-width: 576px) {
  #blog_thanks h6 {
    font-size: 16px;
  }
}

#blog_thanks a {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #008808;
  text-decoration: underline;
}

@media (max-width: 576px) {
  #blog_thanks a {
    font-size: 20px;
  }
}

#blog_thanks p {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #102543;
  margin: 30px auto 0;
  max-width: 650px;
}

@media (max-width: 576px) {
  #blog_thanks p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */